---
- name: Deployment Playbook
  hosts: all
  become: true
  gather_facts: false

  vars:
    ansible_python_interpreter: /usr/bin/python3

  pre_tasks:
    - name: Create docker network
      community.docker.docker_network:
        name: "{{ network_name }}"
        state: present

    - name: Create service directory
      ansible.builtin.file:
        path: "{{ project_directory }}/{{ tier }}"
        state: directory
        mode: "0755"

  tasks:
    - name: Copy Docker Compose file to server
      ansible.builtin.template:
        src: "{{ playbook_dir }}/templates/{{ tier }}.yml.j2"
        dest: "{{ project_directory }}/{{ tier }}/compose.yml"
        mode: "0644"

    - name: Copy .env file to server
      when: tier is defined and tier != "frontend"
      ansible.builtin.copy:
        src: "{{ playbook_dir }}/.env"
        dest: "{{ project_directory }}/{{ tier }}/.env"
        mode: "0644"

    - name: Login Docker to private registry
      when: tier is defined and tier != "database"
      community.docker.docker_login:
        registry_url: "{{ registry_url }}"
        username: "{{ username }}"
        password: "{{ password }}"
        reauthorize: true

    - name: Deploy service with Docker Compose
      community.docker.docker_compose_v2:
        project_src: "{{ project_directory }}/{{ tier }}"
        state: present
        recreate: auto
        pull: missing

    - name: Logout from private Docker registry
      when: tier is defined and tier != "database"
      community.docker.docker_login:
        registry_url: "{{ registry_url }}"
        state: absent

  post_tasks:
    - name: Prune unused Docker resources
      community.docker.docker_prune:
        images: true
        containers: true
        networks: false
        volumes: false
