---
- name: Deployment Playbook
  hosts: all
  become: true
  gather_facts: false

  vars:
    ansible_python_interpreter: /usr/bin/python3

  tasks:
    - name: Debug
      ansible.builtin.debug:
        msg: "URL: {{ registry_url }}, username: {{ username }} password: {{ password }}"
