---
- name: Deployment Playbook
  hosts: all
  become: true
  gather_facts: false

  vars:
    ansible_python_interpreter: /usr/bin/python3

  pre_tasks:
    - name: Create docker network
      community.docker.docker_network:
        name: "{{ network_name }}"
        state: present

    - name: Create service directory
      ansible.builtin.file:
        path: "{{ project_directory }}"
        state: directory
        mode: "0755"

  tasks:
    - name: Copy Docker Compose file to server
      ansible.builtin.template:
        src: "{{ playbook_dir }}/templates/compose.yml.j2"
        dest: "{{ project_directory }}/compose.yml"
        mode: "0644"

    - name: Copy .env file to server
      ansible.builtin.copy:
        src: "{{ playbook_dir }}/.env"
        dest: "{{ project_directory }}/.env"
        mode: "0644"
