services:
  {{ service_name }}:
    image: {{ docker_image }}
    container_name: {{ service_name }}
    restart: unless-stopped

{% if add_labels %}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.{{service_name}}.rule={{ traefik_rule }}"
      - "traefik.http.routers.{{service_name}}.entrypoints=websecure"
      - "traefik.http.routers.{{service_name}}.tls=true"
      - "traefik.http.routers.{{service_name}}.tls.certresolver=letsencrypt"
      - "traefik.http.services.{{service_name}}.loadbalancer.server.port={{ service_port }}"
{% endif %}

    networks:
      - {{ network_name }}

networks:
  {{ network_name }}:
    name: {{ network_name }}
    external: true